<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="{:__STATIC__}css/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{:__STATIC__}css/font.css">
    <link rel="stylesheet" href="{:__STATIC__}css/xadmin.css">
</head>
<body>
<div class="x-body layui-anim layui-anim-up">
    <blockquote class="layui-elem-quote">欢迎管理员：
        <span class="x-red">{$name}</span>！当前时间:{$time}</blockquote>

    <fieldset class="layui-elem-field">

        <legend>磁盘使用情况</legend>
        <div class="layui-field-box">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 140px;">
                            <div carousel-item="">
                                <ul class="layui-row layui-col-space10 layui-this">
                                    {foreach $sys_arr as $key=>$vo }
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>{$key}盘</h3>
                                                <p>
                                                    <cite style="font-size: inherit">剩余{$vo[0]}</cite>
                                                </p>
                                                <p>
                                                    <cite style="font-size: inherit">总共{$vo[1]}</cite>
                                                </p>
                                                <p>
                                                    <cite style="font-size: inherit">剩余率{$vo[2]}</cite>
                                                </p>
                                            </a>
                                        </li>
                                    {/foreach}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

</div>
<script>


</script>
</body>
</html>